.selectTag {
  text-align: center;
  margin: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  border: solid gray;
  width: 110px;
}

.list {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  list-style-type: none;
  padding: 0px;
  text-align: center;
  position: absolute;
  background-color: white;
  overflow-y: auto;
  margin: 20px;
  margin-top: 0px;
  width: 127px;
  border-radius: 5px;
}

.list::-webkit-scrollbar {
  display: none;
}

.list li {
  text-align: center;
  padding: 5px;
}

.list li:hover {
  background-color: rgb(46, 51, 125);
  color: white;
}
