.summaryCard {
  width: 80%;
  border: solid gray;
  margin: auto;
}

.summaryCard > h3 {
  text-align: left;
}

.summaryCard > div {
  display: flex;
  justify-content: space-between;
}

.summaryCard > div > p {
  width: 33.33%;
  text-align: left;
  font-size: 12px;
}

.summaryCard > div > p:last-child {
  text-align: right;
}
